.news {
  &-section-1 {
    margin: 2rem 0;

    &-announcement {
      margin: 3rem 0;

      &-title {
        width: 100%;
        font-family: Poppins-Bold;
        font-size: 2.2rem;
        text-transform: uppercase;
        color: $color-scheme-1;

        span {
          color: $color-scheme-3;
        }
      }

      &-content {
        display: flex;
        width: 100%;
        padding: 2rem 0;

        @media only screen and (max-width: $large) {
          flex-direction: column;
        }

        img {
          max-width: 30rem;
          width: 30rem;
          height: 20rem;
          object-fit: cover;

          @media only screen and (max-width: $large) {
            width: 100%;
            max-width: 100%;
            height: 25rem;
            object-fit: cover;
          }
        }

        div {
          padding: 0 2rem;

          @media only screen and (max-width: $large) {
            padding: 2rem 0;
          }
        }
      }

      &:hover {
        cursor: pointer;
        transition: all 0.5s;

        div {
          color: $color-scheme-2 !important;
        }
      }
    }

    &-breadcrumb {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      &:hover {
        cursor: pointer;
      }

      svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-scheme-1;

        &:hover {
          fill: $color-scheme-2;
        }
      }

      span {
        font-size: 1.6rem;
        padding: 0 1rem;
        margin: 1rem 0;
      }
    }
  }

  &-section-2 {
    margin: 2rem 0;

    &-announcement {
      margin: 3rem 0;

      &-title {
        width: 100%;
        font-family: Poppins-Bold;
        font-size: 2.2rem;
        text-transform: uppercase;
        color: $color-scheme-1;

        span {
          color: $color-scheme-3;
        }
      }

      &-image {
        width: 100%;
        height: max-content;
        margin: 2rem 0;

        img {
          width: 100%;
          height: 100%;
          max-height: 50rem;
          object-fit: cover;
        }
      }

      &-paragraph {
        margin: 2rem 0;
        width: 100%;
        font-size: 1.4rem;
        line-height: 200%;
      }

      &:hover {
        cursor: pointer;
        transition: all 0.5s;

        div {
          color: $color-scheme-2 !important;
        }
      }
    }
  }

  &-section-3 {
    margin: 3rem 0;

    &-title {
      width: 100%;
      font-family: Poppins-Bold;
      font-size: 2.2rem;
      text-transform: uppercase;
      text-decoration: underline;
      color: $color-scheme-1;
    }

    &-index {
      width: 100%;
      font-family: Poppins-Bold;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: $color-scheme-3;
      margin: 1rem 0;
      transition: all 1s;
      height: 3rem;

      span {
        color: $color-scheme-1;
      }

      &:hover {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
  }
}
