.publication {
  &-section-1 {
    margin: 3rem 0;

    &-title {
      width: max-content;
      font-family: Rubik;
      color: black;
      font-size: 3.2rem;
      border-bottom: solid 0.1rem black;
      text-transform: uppercase;

      @media only screen and (max-width: $medium) {
        font-size: 2.2rem;
      }
    }

    p {
      margin: 2rem 0;
      width: 100%;
      font-size: 1.4rem;
      line-height: 200%;

      @media only screen and (max-width: $medium) {
        width: 90%;
      }
    }
  }

  &-section-2 {
    margin: 3rem 0;

    &-title {
      width: max-content;
      font-family: Poppins-Bold;
      font-size: 2.2rem;
      text-transform: uppercase;
      color: $color-scheme-1;
    }

    &-publications {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem 0;
      padding: 0 1rem;

      &-item {
        font-size: 1.4rem;
        color: $color-dark-grey-1;
        transition: all 0.5s;
        margin: 0 0 1rem 0;

        &:hover {
          cursor: pointer;
          color: $color-scheme-1;
        }
      }

    }

    &-contents {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: 500;

      span {
        &:hover {
          cursor: pointer;
          font-weight: 600;
        }
      }

    }

    &-sort {
      // margin-bottom: -2rem;
      width: max-content;
      font-family: Poppins-Bold;
      font-size: 1.2rem;
      text-transform: uppercase;
      text-decoration: underline;
      color: $color-scheme-1;

      span {
        transition: all .3s;
        
        &:hover {
          cursor: pointer;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
      
    }
  }
}
