.form-group {
  &-100 {
    &-field {
      display: flex;
      align-items: center;
      width: 100%;
      resize: none;
      padding: 2rem 1.5rem;
      box-sizing: border-box;
      outline: none;
      font-size: 1.4rem;
      font-family: inherit;
      border: none;
      background-color: $color-light-grey-2;
      color: $color-light-grey-3;
      position: relative;

      // &[contenteditable='true']:empty:not(:focus):before {
      //   content: attr(placeholder);
      //   pointer-events: none;
      //   display: block; /* For Firefox */
      // }

      label {
        position: absolute;
        display: flex;
        top: 40%;
        transition: all 0.3s ease-in-out;
        font-size: 1.2rem;
      }

      div {
        width: 100%;
        z-index: 2;

        &:focus {
          outline: none;

          ~ label {
            top: 5%;
          }
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        fill: $color-light-grey-1;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-checkbox {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.2rem;

    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border: 0.2rem solid $color-light-grey-2;
      border-radius: 0.5rem;
      margin-right: 1rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      svg {
        width: 2rem;
        height: 2rem;
        fill: $color-scheme-1;
      }
    }
  }

  &-button {
    &-100 {
      width: 100%;
      outline: none;
      border: none;
      border-radius: 0.5rem;
      background-color: $color-scheme-1;
      color: white;
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-message {
    font-size: 1.2rem;
    color: $color-scheme-1;
    margin: 1rem 0;
  }
}
