.adminLogin {
  &-container {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    padding: 0 3rem;
  }

  &-left {
    svg {
      width: 70rem;
      height: 70rem;
    }
  }

  &-right {
    width: 100%;
    align-self: flex-start;
    margin: 0 2rem;
    margin: 8rem 0;
  }
}
