*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: env(safe-area-inset); }

html,
body {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black;
  font-weight: 300;
  line-height: 1.6; }

h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem; }

p {
  color: #b3b3b3;
  font-weight: 300;
  font-size: 1.4rem; }

a {
  font-size: 1.4rem;
  color: #e63946; }

button {
  font-size: 1.4rem; }

.mb4 {
  margin-bottom: 4rem; }

.mb2 {
  margin-bottom: 2rem; }

.topBorders {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; }

.bottomBorders {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }

.showPassword {
  -webkit-text-security: none; }

.hidePassword {
  -webkit-text-security: disc; }

.labelHover {
  top: 5% !important; }

#rememberMe {
  display: none; }

.checked {
  background-color: #e63946 !important; }
  .checked svg {
    fill: white !important; }

.account {
  width: 100%;
  padding: 8rem; }
  .account-breadcrumbs {
    display: flex; }
    .account-breadcrumbs-item {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      color: #b3b3b3; }
      .account-breadcrumbs-item-title {
        font-size: 2.2rem;
        font-weight: 700; }
        .account-breadcrumbs-item-title:hover {
          cursor: pointer;
          text-decoration: underline; }
      .account-breadcrumbs-item svg {
        width: 2rem;
        height: 2rem;
        fill: #e63946; }
      .account-breadcrumbs-item-subtitle {
        display: flex;
        align-items: center; }
  .account-dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 1rem; }
    @media only screen and (max-width: 768px) {
      .account-dashboard {
        justify-content: center; } }
    .account-dashboard-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 18rem;
      height: 15rem;
      border-radius: 1.2rem;
      font-size: 1.8rem;
      font-weight: 300;
      margin-right: 5rem;
      background-color: #e63946;
      color: white;
      flex-wrap: wrap;
      text-align: center;
      box-shadow: 0.2rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
      transition: all 0.5s; }
      @media only screen and (max-width: 768px) {
        .account-dashboard-item {
          margin-bottom: 2rem; } }
      .account-dashboard-item svg {
        width: 4rem;
        height: 4rem;
        margin: 1rem;
        fill: white; }
      .account-dashboard-item:hover {
        cursor: pointer;
        background-color: #e63946; }

.form-group-100-field {
  display: flex;
  align-items: center;
  width: 100%;
  resize: none;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  background-color: #edf2f5;
  color: #b3b3b3;
  position: relative; }
  .form-group-100-field label {
    position: absolute;
    display: flex;
    top: 40%;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem; }
  .form-group-100-field div {
    width: 100%;
    z-index: 2; }
    .form-group-100-field div:focus {
      outline: none; }
      .form-group-100-field div:focus ~ label {
        top: 5%; }
  .form-group-100-field svg {
    width: 2rem;
    height: 2rem;
    fill: #b3b3b3; }
    .form-group-100-field svg:hover {
      cursor: pointer; }

.form-group-checkbox {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.2rem; }
  .form-group-checkbox-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid #edf2f5;
    border-radius: 0.5rem;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out; }
    .form-group-checkbox-box:hover {
      cursor: pointer; }
    .form-group-checkbox-box svg {
      width: 2rem;
      height: 2rem;
      fill: #e63946; }

.form-group-button-100 {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #e63946;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem 0; }
  .form-group-button-100:hover {
    cursor: pointer; }

.form-group-message {
  font-size: 1.2rem;
  color: #e63946;
  margin: 1rem 0; }

.loading span {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }
  .loading span:nth-child(1) {
    animation-delay: 0.2s; }
  .loading span:nth-child(2) {
    animation-delay: 0.4s; }
  .loading span:nth-child(3) {
    animation-delay: 0.8s; }

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(0.1rem); } }

.accountUpdateProfile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }
  .accountUpdateProfile-modal-box {
    background-color: #edf2f5;
    width: 40%;
    max-height: 80rem;
    padding: 0 0 2rem 0;
    border-radius: 1.2rem; }
    @media only screen and (max-width: 1250px) {
      .accountUpdateProfile-modal-box {
        width: 70%; } }
    @media only screen and (max-width: 600px) {
      .accountUpdateProfile-modal-box {
        width: 90%; } }
    .accountUpdateProfile-modal-box-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.2rem;
      padding: 1rem 3rem;
      background-color: #e63946;
      color: white;
      border-top-right-radius: 1.2rem;
      border-top-left-radius: 1.2rem; }
      .accountUpdateProfile-modal-box-header svg {
        width: 2rem;
        height: 2rem;
        fill: white;
        transition: all 0.2s ease-in-out; }
        .accountUpdateProfile-modal-box-header svg:hover {
          cursor: pointer;
          fill: #a8dadc; }
    .accountUpdateProfile-modal-box-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 2rem; }
      .accountUpdateProfile-modal-box-form-title {
        font-size: 2.4rem;
        text-align: center;
        margin: 1rem 0; }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1.8rem; }
  .home a {
    color: #e63946; }

.adminLogin-container {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  padding: 0 3rem; }
  @media only screen and (max-width: 1050px) {
    .adminLogin-container {
      flex-direction: column; } }

.adminLogin-left svg {
  width: 60rem;
  height: 60rem; }
  @media only screen and (max-width: 1050px) {
    .adminLogin-left svg {
      height: 30rem; } }

.adminLogin-right {
  width: 100%;
  align-self: flex-start;
  margin: 8rem 0;
  padding: 0 5rem; }
  .adminLogin-right-options {
    display: flex;
    justify-content: space-between;
    align-items: center; }
