*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: env(safe-area-inset); }

html,
body {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black;
  font-weight: 300;
  line-height: 1.6;
  overflow-y: auto; }
  body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #e63946; }
  body::-webkit-scrollbar-thumb {
    background-color: #e63946; }

h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem; }

p {
  color: #b3b3b3;
  font-weight: 300;
  font-size: 1.4rem; }

a {
  font-size: 1.4rem;
  color: #e63946; }

button {
  font-size: 1.4rem; }

.mb4 {
  margin-bottom: 4rem; }

.mb3 {
  margin-bottom: 3rem; }

.mb2 {
  margin-bottom: 2rem; }

.mb1 {
  margin-bottom: 1rem; }

.w-100 {
  width: 100% !important; }

.topBorders {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; }

.bottomBorders {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }

.labelHover {
  top: 5% !important; }

#rememberMe {
  display: none; }

.checked {
  background-color: #e63946 !important; }
  .checked svg {
    fill: white !important; }

.account {
  width: 100%;
  padding: 8rem; }
  @media only screen and (max-width: 992px) {
    .account {
      padding: 2rem; } }
  .account-user {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin: 2rem 0;
    font-weight: 700;
    color: #b3b3b3; }
    @media only screen and (max-width: 992px) {
      .account-user {
        padding: 0 3rem; } }
    .account-user svg {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem; }
  .account-breadcrumbs {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 992px) {
      .account-breadcrumbs {
        padding: 0 3rem; } }
    .account-breadcrumbs-item {
      display: flex;
      font-size: 1.8rem;
      color: #b3b3b3; }
      .account-breadcrumbs-item-title {
        font-size: 2.2rem;
        font-weight: 700; }
        .account-breadcrumbs-item-title:hover {
          cursor: pointer;
          text-decoration: underline; }
      .account-breadcrumbs-item svg {
        width: 2rem;
        height: 2rem;
        fill: #e63946; }
      .account-breadcrumbs-item-subtitle {
        display: flex;
        align-items: center; }
        .account-breadcrumbs-item-subtitle:hover {
          cursor: pointer;
          text-decoration: underline; }
  .account-dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 1rem; }
    @media only screen and (max-width: 768px) {
      .account-dashboard {
        justify-content: center; } }
    .account-dashboard-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 18rem;
      height: 15rem;
      border-radius: 1.2rem;
      font-size: 1.8rem;
      font-weight: 300;
      margin-right: 3rem;
      margin-bottom: 5rem;
      background-color: #e63946;
      color: white;
      flex-wrap: wrap;
      text-align: center;
      box-shadow: 0.2rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
      transition: all 0.5s; }
      @media only screen and (max-width: 768px) {
        .account-dashboard-item {
          margin-bottom: 2rem; } }
      .account-dashboard-item svg {
        width: 4rem;
        height: 4rem;
        margin: 1rem;
        fill: white; }
      .account-dashboard-item:hover {
        cursor: pointer;
        background-color: #e63946; }

.form-group {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; }
  .form-group input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    outline: none;
    font-weight: 300;
    font-size: 1.4rem;
    font-family: inherit;
    border: none;
    margin: 0.5rem 0;
    text-transform: lowercase;
    background-color: transparent;
    transition: all 0.5s ease-in-out; }
    .form-group input:focus + .input-label {
      top: 5%; }
  .form-group label {
    position: absolute;
    padding: 0rem 1.5rem;
    box-sizing: border-box;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #e63946;
    top: 40%;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    text-transform: lowercase; }
  .form-group svg {
    position: absolute;
    top: 25%;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    fill: #e63946; }
    .form-group svg:hover {
      cursor: pointer; }
  .form-group-list {
    position: absolute;
    top: 100%;
    width: 100%;
    font-size: 1.4rem;
    border-top: 0.1rem solid #b3b3b3;
    border: 0.1rem solid #edf2f5;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0rem 0.5rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
    z-index: 500; }
    .form-group-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.8rem 2rem;
      font-size: inherit;
      text-transform: lowercase;
      background-color: white; }
      .form-group-list-item:last-child {
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        padding-bottom: 1.5rem; }
      .form-group-list-item svg {
        width: 2rem;
        height: 2rem;
        fill: #f1faee;
        margin-right: 1rem; }
      .form-group-list-item-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        position: relative; }
        .form-group-list-item-svg svg {
          position: absolute;
          width: 2rem;
          height: 2rem;
          fill: #e63946; }
      .form-group-list-item:hover {
        cursor: pointer;
        background-color: #edf2f5; }
  .form-group-button {
    width: 100%;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    border: none;
    outline: none;
    color: white;
    background-color: #e63946;
    transition: all 0.5s ease-in-out; }
    .form-group-button:hover {
      cursor: pointer; }
  .form-group-textarea {
    text-transform: lowercase;
    padding: 0.5rem 1.5rem;
    position: relative; }
    .form-group-textarea textarea {
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      resize: none;
      padding: 2rem 1.5rem;
      outline: none;
      box-sizing: border-box;
      font-size: 1.4rem;
      font-family: inherit;
      border: none;
      border-radius: 1.2rem;
      overflow-y: auto; }
      .form-group-textarea textarea::-webkit-scrollbar {
        width: 0.2rem;
        background-color: #e63946; }
      .form-group-textarea textarea::-webkit-scrollbar-thumb {
        background-color: #e63946; }
    .form-group-textarea label {
      position: absolute;
      display: flex;
      top: 15%;
      transition: all 0.3s ease-in-out;
      padding: 0 1rem;
      color: #e63946;
      font-size: 1.2rem; }
  .form-group-checkbox {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.2rem; }
    .form-group-checkbox-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border: 0.2rem solid #edf2f5;
      border-radius: 0.5rem;
      margin-right: 1rem;
      transition: all 0.3s ease-in-out; }
      .form-group-checkbox-box:hover {
        cursor: pointer; }
      .form-group-checkbox-box svg {
        width: 2rem;
        height: 2rem;
        fill: #e63946; }
  .form-group-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;
    color: #e63946;
    padding: 0.5rem 0; }
    .form-group-message svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem; }
  .form-group-file input {
    display: none; }
  .form-group-file label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    outline: none;
    font-weight: 300;
    font-size: 1.4rem;
    font-family: inherit;
    border: 0.1rem solid #edf2f5;
    border-radius: 1.2rem;
    background-color: #edf2f5;
    margin: 0.5rem 0;
    color: #b3b3b3; }
    .form-group-file label img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 2rem; }
    .form-group-file label svg {
      width: 3rem;
      height: 3rem;
      fill: #a8dadc;
      margin-right: 1rem; }
    .form-group-file label:hover {
      cursor: pointer; }
  .form-group-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem 2rem;
    height: auto; }
    .form-group-tags div {
      background-color: #e63946;
      border-radius: 1.2rem;
      color: white;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      position: relative; }
      .form-group-tags div span {
        position: absolute;
        top: -0.8rem;
        right: -1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        background-color: #272727;
        border-radius: 50%;
        font-size: 1rem;
        transition: all 0.3s ease-in-out; }
        .form-group-tags div span:hover {
          cursor: pointer;
          background-color: #383b3b; }

.alt-group-top {
  background-color: #edf2f5;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem; }

.alt-group-bottom {
  background-color: #edf2f5;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem; }

.outlineNone {
  border: none;
  color: transparent;
  text-shadow: 0 0 0 gray; }
  .outlineNone:focus {
    outline: none !important; }

.field-red {
  border-bottom: 0.1rem solid #e63946 !important; }

.loading span {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }
  .loading span:nth-child(1) {
    animation-delay: 0.2s; }
  .loading span:nth-child(2) {
    animation-delay: 0.4s; }
  .loading span:nth-child(3) {
    animation-delay: 0.8s; }

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(0.1rem); } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow-y: auto; }
  .modal::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #e63946; }
  .modal::-webkit-scrollbar-thumb {
    background-color: #e63946; }
  .modal-box {
    background-color: #edf2f5;
    width: 40%;
    min-height: min-content;
    max-height: 85%;
    height: max-content;
    padding: 0 0 2rem 0;
    border-radius: 1.2rem;
    z-index: 100;
    overflow: hidden;
    position: relative;
    overflow-y: auto; }
    .modal-box::-webkit-scrollbar {
      width: 0.2rem;
      background-color: #e63946; }
    .modal-box::-webkit-scrollbar-thumb {
      background-color: #1d3557; }
    @media only screen and (max-width: 1250px) {
      .modal-box {
        width: 70%;
        height: 80%; } }
    @media only screen and (max-width: 600px) {
      .modal-box {
        width: 90%; } }
    .modal-box-svg {
      position: absolute;
      top: 1%;
      right: 1%;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1d3557;
      border-radius: 50%;
      z-index: 5000 !important; }
      .modal-box-svg svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: #f1faee;
        transition: all 0.2s ease-in-out; }
        .modal-box-svg svg:hover {
          cursor: pointer; }
    .modal-box-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.2rem;
      padding: 1rem 3rem;
      background-color: #e63946;
      color: white;
      border-top-right-radius: 1.2rem;
      border-top-left-radius: 1.2rem; }
      .modal-box-header-title {
        font-size: 2.2rem;
        text-align: center;
        margin: 1rem 0; }
    .modal-box-content {
      padding: 1rem 3rem; }
    .modal-box-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 2rem; }
    .modal-box-footer {
      width: 100%;
      padding: 0 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

.table {
  margin: 2rem 0;
  padding-bottom: 2rem;
  border: 0.2rem solid #edf2f5;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem; }
  .table-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    height: 6rem;
    background-color: #e63946;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; }
    .table-header-title {
      font-size: 2.2rem;
      color: #f1faee;
      font-weight: 700; }
    .table-header-controls {
      display: flex;
      margin-left: 1rem; }
      .table-header-controls-item {
        width: max-content;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: #f1faee;
        color: #e63946;
        font-weight: 700;
        font-size: 1.4rem;
        margin-right: 1rem;
        transition: all 0.3s ease-in-out; }
        .table-header-controls-item:hover {
          cursor: pointer;
          box-shadow: 0rem 0.3rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
    .table-header-error {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      font-size: 1.4rem;
      color: white; }
      .table-header-error svg {
        width: 3rem;
        height: 3rem;
        fill: white; }
      .table-header-error span {
        margin-left: 1rem; }
  .table-headers {
    display: flex;
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y: hidden; }
    .table-headers::-webkit-scrollbar {
      height: 0.3rem;
      width: 0.5rem;
      background-color: #e63946; }
    .table-headers::-webkit-scrollbar-thumb {
      background-color: #f1faee; }
    .table-headers-item {
      overflow: hidden;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 0 1rem;
      min-width: 11rem;
      max-width: 11rem;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-transform: capitalize; }
      .table-headers-item:first-child {
        width: 3rem;
        min-width: 5rem;
        max-width: 5rem; }
  .table-rows {
    display: flex;
    background-color: #edf2f5;
    padding: 0 !important; }
    .table-rows-container {
      width: 100%;
      overflow-x: auto; }
      .table-rows-container::-webkit-scrollbar {
        height: 0.3rem;
        width: 0.5rem;
        background-color: #e63946; }
      .table-rows-container::-webkit-scrollbar-thumb {
        background-color: #f1faee; }
    .table-rows-checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      min-width: 5rem;
      max-width: 5rem; }
      .table-rows-checkbox label {
        display: grid;
        font-size: 1.6rem;
        position: relative;
        border-radius: 0.5rem; }
        .table-rows-checkbox label input[type='checkbox'] {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 0.5rem;
          border: 0.1rem solid #e63946;
          cursor: pointer;
          opacity: 0;
          z-index: 100; }
          .table-rows-checkbox label input[type='checkbox']:checked ~ div > svg {
            display: block; }
        .table-rows-checkbox label span {
          position: absolute;
          top: 0;
          left: 0;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 1rem;
          border: 0.2rem solid #e63946; }
        .table-rows-checkbox label div {
          position: absolute;
          top: 0;
          left: 0;
          height: 2.5rem;
          width: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center; }
          .table-rows-checkbox label div svg {
            height: 2rem;
            width: 2rem;
            fill: #e63946;
            display: none; }
    .table-rows-item {
      overflow: hidden;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 300;
      padding: 0 1rem;
      min-width: 11rem;
      max-width: 11rem;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; }

.row-odd {
  width: 100%;
  padding: 1rem 0; }
  .row-odd > div {
    background-color: #edf2f5;
    padding: 1rem 0;
    height: 5.5rem; }

.row-even {
  background-color: white;
  padding: 1rem 0; }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1.8rem; }
  .home a {
    color: #e63946; }

.adminLogin-container {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  padding: 0 3rem; }
  @media only screen and (max-width: 1050px) {
    .adminLogin-container {
      flex-direction: column; } }

.adminLogin-left svg {
  width: 60rem;
  height: 60rem; }
  @media only screen and (max-width: 1050px) {
    .adminLogin-left svg {
      height: 30rem; } }

.adminLogin-right {
  width: 100%;
  align-self: flex-start;
  margin: 8rem 0;
  padding: 0 5rem; }
  .adminLogin-right-options {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.message {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5rem; }
  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e63946;
    padding: 5rem;
    width: 50%;
    border-radius: 1.2rem; }
  .message-title {
    font-size: 2.8rem;
    font-weight: 800;
    color: white; }
  .message-subtitle {
    font-size: 1.4rem;
    margin: 2rem 0;
    color: white; }
    .message-subtitle a {
      color: white; }

.activate-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem 0;
  padding: 0 3rem;
  width: 100%; }
  .activate-admin-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0; }
    @media only screen and (max-width: 992px) {
      .activate-admin-title {
        flex-direction: column; } }
    .activate-admin-title span {
      font-size: 2.2rem;
      font-weight: 700;
      margin-left: 5rem; }
      @media only screen and (max-width: 992px) {
        .activate-admin-title span {
          margin-top: 5rem; } }
  .activate-admin-svg {
    margin: 3rem 0 0 0; }
    .activate-admin-svg svg {
      width: 25rem;
      height: 25rem; }
  .activate-admin-button {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    box-shadow: 1rem 0.3rem 2rem 0.4rem rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out; }
    .activate-admin-button:hover {
      cursor: pointer;
      box-shadow: 1rem 0.5rem 2rem 1rem rgba(0, 0, 0, 0.3); }
    .activate-admin-button svg {
      width: 4rem;
      height: 4rem; }
    .activate-admin-button span {
      font-weight: 700;
      font-size: 2.2rem;
      margin-left: 2rem; }
  .activate-admin-error {
    font-size: 1.8rem;
    font-size: 400;
    color: red; }
