h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

p {
  color: $color-light-grey-1;
  font-weight: 300;
  font-size: 1.4rem;
}

.mb4 {
  margin-bottom: 4rem;
}
